///dimensions
$maxWidth: 1440px;
$minWidth: 320px;
$maxContentWidth: 1280px;

///colors
$white: rgb(255, 255, 255);
$greenNormal: #116D37;
$greenDarker: #065627;
$grayDarkText: #655c52;
$foxyNormal: #EB6F21;
$foxyActive: #8a3700;
/// SHADERS
$rgba_opacity-0: rgba(65, 57, 48, 0);