@forward "./animations";
@forward "./extends";
@forward "./media";
@forward "./mixins";
@forward "./variables";

@use "variables" as *;
@use "mixins" as mix;

/////// VARS //////

:root {
  --range_120-64_max-1280px: #{mix.calculate-dimension(1280, 641, 120, 64)};
  --range_80-64_max-1280px: #{mix.calculate-dimension(1280, 641, 80, 64)};
  --range_80-32_max-1280px: #{mix.calculate-dimension(1280, 641, 80, 32)};
  --range_48-32_max-1280px: #{mix.calculate-dimension(1280, 641, 48, 32)};
  --range_32-23_max-640px: #{mix.calculate-dimension(640, 320, 32, 23)};
  --range_24-18_max-1280px: #{mix.calculate-dimension(1280, 641, 24, 18)};
  --range_18-16_max-1280px: #{mix.calculate-dimension(1280, 641, 18, 16)};
}

/////// STYLES ///////
html {
  scroll-behavior: smooth;
}

/*************TOP BORDER BODY****************/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  @include mix.box-shadow(0, 10px);
}
/*****************END TOP BORDER BODY************/

body {
  font-family: var(--font-notoSerif), serif;
  background-color: #cecfcf;
}
