
@use "./global_styles/root" as root;

.total-wrapper {
	position: relative;
	//font-size: 1.125rem;  //18px
	font-size: 1rem;

	/*! It gives max-width, min-width, with margin: 0 auto... */
	@extend %totalWrapper;

	background-color: root.$fallLighter;
	//background-color: root.$white;
	color: root.$grayDarker;

	/* mobile (portrait wide): (max-width: 640px) */
	@include root.maxMobilePortraitWide {
		font-size: 0.938rem;  //15px
	}
}

.section {
	//overflow: hidden; //! FOR GSAP: for transformed, not absolute elements
	font-size: 1em; //font-size inherits from total-wrapper
	width: 100%;

	@extend %sectionWrapper;  // margin-top, margin-bottom calculations to media width
}

.section__content-layer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@extend %contentWrapper;  //padding calculations to media width

	/* mobile (portrait wide): (max-width: 640px) */
	@include root.maxMobilePortraitWide {
		align-items: center;
	}
}

/* ICONS */
.icon-sm {
	width: 0.875em;
	height: 0.875em;
}

.icon-md {
	width: 1em;
	height: 1em;
}

.iconTextLink {
	color: root.$greenNormal;
	transition: transform 0.15s ease-in-out,
	color 0.15s ease, font-weight 0.15s ease;

	&:hover {
		transform: translateX(-0.3em);
		color: root.$foxyNormal;
		font-weight: 600;
	}
}
