@use "@/styles/global_styles/root" as root;



.headerLayer {
	background-color: root.$white;
	//background: linear-gradient(90deg, root.$white 25%, root.$greenNormal 80%);
}

.header {
	font-size: 1em; //parent font-size
	position: relative;
	width: 100%;

	@extend %contentWrapper;  //padding with account to the media width
	@include root.flex-box(row, center, center, wrap);

	gap: 1em 1em;
	padding-top: 0.625em;
	padding-bottom: 0.625em;
	color: root.$greenNormal;

	/* tablet (portrait): (max-width: 1024px) */
	@include root.maxTabletPortrait {
		font-size: 0.78em;
	}

	/* mobile (portrait wide): (max-width: 640px) */
	@include root.maxMobilePortraitWide {
		flex-direction: column;
		font-size: 1em;
	}

}

.headerInfo {
	flex-grow: 1;	//it takes the rest from the LogoWrapper width

	@include root.flex-box(column, flex-start, center);
	gap: 0.5em;
}



.addressText {
	//padding: 0 0.625em;
}

.addressTextBoarded {
	padding: 0 0.625em;
	border-left: 1px solid root.$gray;
	border-right: 1px solid root.$gray;
}





////////////

.icon_14 {
	width: 14px;
	height: 14px;
	//color: red;
}


