@use "@/styles/global_styles/root" as root;

.navWrapper {
  width: 100%;

  /* Tablet portrait: (max-width: 860px)*/
  @include root.maxTabletPortraitMid {
    font-size: 0.93em;
  }

  > ul {
    width: 100%;
    @include root.flex-box(row, flex-end, flex-start, wrap);

    li,
    a {
      color: root.$greenNormal;
    }

    li {
      //width will be taken from the content...
      position: relative;
      z-index: 10;

      //to exclude the active link (when url === usePath()...) from animation on hover
      &:not(:has(> a.activeLink)) {
        &::after {
          display: block;
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;

          background: root.$fallGradient;
          z-index: -1;

          @include root.transition(height, 0.15s);
        }

        &:hover::after {
          height: 100%;
        }
      }
    }

    //the top level li-items
    > li {
      &::after {
        border-radius: 0.3em 0.3em 0 0;
      }

      > ul {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        pointer-events: none; //not to catch events when not visible...
        padding-top: 3em;
        padding-bottom: 0.5em;
        backdrop-filter: blur(0.1em);
        background-color: root.$whiteOpacity_50;
        transform-origin: top left;
        transform: scaleY(0);
        z-index: -1;

        transition:
          top 0.5s cubic-bezier(0.5, 1.66, 0.56, 0.88),
          opacity 0.3s ease-out,
          transform 0.25s ease-out;
        transition-delay: 0.05s;

        // стили для всех вложенных li
        li:not(:first-child) {
          border-top: 2px solid root.$grayLightest;
        }
      }

      &:hover > ul {
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }

      &:focus-within > ul {
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }

      //a clear change of styles if the focus is lost
      &:not(:hover):not(:focus-within) > ul {
        transform: scaleY(0);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.navLink {
  text-decoration: none;
  width: max-content;
  padding: 0.5em 1em;
  font-weight: 600;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid root.$fallLighter;
    outline-offset: 2px;
    border-radius: 0.3em 0.3em 0 0;
  }
}

.activeLink {
  //when usePathname() === href of the link
  color: root.$greenDark !important;
  //background-color: root.$fallLighter;
  cursor: default;
  border-radius: 0.3em 0.3em 0 0;
}
