@use "@/styles/global_styles/root" as root;

.iconTextLink {
	text-decoration: none;
	color: root.$greenNormal;
	transform-origin: 100% 50%;
	transition: transform 0.15s ease-in-out, text-shadow 0.15s ease-in-out;

	@include root.flex-box(row, center, center, nowrap);
	gap: 0.3em;

	&:hover {
		transform: translateX(-0.3em);
		color: root.$greenDarker;

		@include root.text-shadow(0, 0.5em, root.$white);
	}
}
/*

.customFoxy {
	color: root.$foxyNormal;

	&:hover {
		color: root.$foxyActive;
	}
}*/
